# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/**/node_modules/
/**/.DS_Store
/**/dist
/**/dist-ssr
/**/coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
/**/.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

_instructions.md
backend/tmp/
backend/config/master.key
backend/storage/development.sqlite3
backend/storage/development.sqlite3-shm
backend/storage/development.sqlite3-wal