@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('@/assets/img/fundoZumbi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
