@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url('@/assets/img/fundoZumbi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
