@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: linear-gradient(rgb(22 180 165 / 29%), rgba(0, 0, 0, 0.1)),
    url(/src/assets/img/fundoZumbi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
